body {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    line-height: 32px;
    margin:0px;
    padding:0px;
}

/* Video */

img, video {
    width: 100%;
    display: block;
}


img {
    width:100%;
}

div.imgmiddle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 50vw;
}

/* Fonts */

@font-face {
    font-family: 'Alti Regular';
    src: url(fonts/Alti-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Excelsior';
    src: url(fonts/Excelsior.woff);
}

@font-face {
    font-family: 'ExcelsiorItalic';
    src: url(fonts/ExcelsiorItalic.woff);
}

@font-face {
    font-family: 'DecimaMono';
    src: url(fonts/DecimaMonoPro.woff);
}

@font-face {
    font-family: 'DiatypeLight';
    src: url(fonts/DiatypeLight.woff);
}

@font-face {
  font-family: 'DiatypeRegular';
  src: url(fonts/DiatypeReg.woff);
}


/* Font Sizes */
  
  div.largetext {
    font-size:120px;
    line-height:120px;
    font-family:'Alti Regular';

}

div.mediumtext {
    font-size:36px;
    line-height:42px;
}

div.smalltext {
    font-size: 1.5vw;
    line-height: 1.21;
    font-family:'Excelsior';

}

div.smalltext2 {
    font-size:24px;
    line-height:28px;
    font-family:'DiatypeLight';

}

div.isbn {
  font-size:1.0vw;
  font-family:'Excelsior';

}

div.zeroleft.footertext {
    padding: 0px;
}

div.footertext {
    font-size: 1.15vw;
    line-height: 1.21;
    font-family:'DiatypeLight'

}

div.endpageblack {
    background-color: black;
}

div.endpagewhite{
    background-color: white;
}

div.extrasmalltext {
    font-size:1.15vw;
    line-height:1.3;
    font-family: 'DiatypeLight';
}

/* Font Styles */

div.fontsans {
    font-family: Arial, Helvetica, sans-serif;
}

div.fontserif {
    font-family: 'Sabon';
}

div.fontmono {
    font-family: 'Courier New', Courier, monospace;
}

.fontitalic {
    font-family: 'ExcelsiorItalic', serif !important;
  }  

div.navtitlelarge {
    font-size:6.5vw;
    letter-spacing: 0.05em;
    font-family:'Alti Regular';
    color: rgb(0, 0, 0);
}

div.navtitlesmall {
    display:inline-block;
    font-size:1.5vw;
    line-height: 2.5vw;
    font-family:'Excelsior';
    color: rgb(0, 0, 0);
}

.name-row {
    display: flex;
    justify-content: space-between; 
    gap: 5vw; 
  }
  

div.navtitle2 {
    font-size:28px;
    font-family:'Excelsior';
    color: black;
}

/* Font Colours */


/* Text Alignment */

div.textcenter {

text-align: center;
}

div.textrightalign {

    text-align: right;
}

div.paddedtext {
    padding:20px;
    display:inline-block;
    background-color: rgb(0, 136, 255);
}

div.textindent {
    text-indent: 56px;
    display: block;
}

div.grey {
    color: rgb(167, 167, 167);
}

/* Background colors */

div.bgpink {
    background-color: magenta;
}

div.bgcyan {
    background-color: cyan;
}

div.bgblack {
    background-color: black;
    width:50%;
}

div.bgwhite {
    background-color: white;
}

div.textwhite {
    color: white;
}

/* Margins */

div.mt {
    margin-top:180px;
}

div.mtsmall {
    margin-top:20px;
}

div.mtmed {
    margin-top:21.5vh;
}

div.mtmed2 {
  margin-top:50%
}

div.mtlarge {
    margin-top: 50vh;
}

div.mtauto {
    margin-top: auto;
}

div.mbauto {
    margin-bottom: auto;
}

div.mb {
    margin-bottom:180px;
}

div.mbsmall {
    margin-bottom:60px;
}

div.mlauto {
    margin-left:auto;
}

div.mlsmall {
    margin-left:34px;
}

div.mlmedium {
    margin-left:52px;
}

div.mllarge {
    margin-left:90px;
}

div.mrsmall {
    margin-right:34px;
}

div.mrmedium {
    margin-right:52px;
}

div.mrlarge {
    margin-right:90px;
}

div.mrauto {
    margin-right:auto;
}

/* Padding */

div.pad {
    padding:20px;
}

div.padtop{
    padding-top: 50vh;
}

div.padtopauto{
    padding-top:auto;
}

div.padleft {
    padding-left: 20px;
}


/* Widths */

div.width100 {
    width:100%;
}

div.width95 {
    width:95%;
}

div.width90 {
    width:90%;
}

div.width80 {
    width:80%;
}

div.width75 {
    width:75%;
}

div.width65 {
  width:65%;
}

div.width60 {
    width:60%;
}

div.width50 {
    width:50%;
}

div.width33 {
    width: 33%;
}

div.width25 {
    width:25%;
}

div.width10 {
  width:10%;
}

/* Heights */

div.height50 {
    height:50vh;
}

div.height100 {
    height:100vh;
}

/* Layout */

div.testpad {
    box-sizing: border-box;
    margin-left: 20px;
}

div.container {
    position: relative;
    display:flex;
    flex-wrap:wrap;
}

div.containercolumn {
    display: flex;
    flex-direction: column;
    width: 50%;
}

div.flexend {
    justify-content: flex-end;
}

div.flexcenter {
    justify-content: center;
}

div.imagecentre {
    place-items:center;
   flex-wrap: wrap;
}

.img-row {
  display: flex;
  gap: 1vw; 
}


div.overlay {
    position: relative;
}


div.imgcaption {
    display: inline-block;
    position: relative;
    padding-top: 1.0vw;
    font-size: 1.2vw;
    font-family: 'Excelsior'
}

div.imgcaption2 {
    display: inline-block;
    padding-top: 1.0vw;
    line-height: 1.1vw;
    font-size: 0.8vw;
    padding-bottom: 2vw;
    font-family: 'DiatypeLight'
}

div.imgcaptionitalic {
    display: inline-block;
    position: relative;
    font-size: 1.5vw;
    font-family: 'ExcelsiorItalic'
}
  
div.figcaption{
  display: inline-block;
  position: relative;
  font-size: 1.0vw;
  font-family: 'ExcelsiorItalic'
}


::-moz-selection {
    color: red;
    background-color: transparent;
  }
  
  ::selection {
    color: red;
    background-color: transparent;
  }


#slideshow { 
    position: relative; 
    width: 100%
  }
  
  #slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
  }


  div.zeroleft {
    width: 50%;
    padding: 80px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    height: 100vh;
  }

  div.zeroleftscroll {
    width: 50%;
    padding: 80px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    height: 100vh;
    overflow-y: scroll;
  }

  div.zeroleft2 {
    width: 50%;
    padding: 80px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    height: 100vh;
  }
  
  div.oneright {
    width: 50%;
    padding: 80px;
    box-sizing: border-box;
    background-color:rgb(255, 255, 255);
    color: black;
    height: 100vh;
    display: block;
  }
  

  div.titlepage {
    width: 50%;
    padding: 80px;
    box-sizing: border-box;
    background-color:rgb(255, 255, 255);
    color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
  } 


  div.onerightimg {
    width: 50%;
    box-sizing: border-box;
    height: 100vh;
    display: block;
  }



  div.oneright2 {
    width: 50%;
    padding: 80px;
    box-sizing: border-box;
    background-color:rgb(174, 69, 69);
    color: black;
    height: 100vh;
    display: block;
  }
   

  /* image credits */

  div.timecode {
    width: 15%;
    font-family: DiatypeRegular;
    letter-spacing: 0.1em;
  }

  div.caption {
    width: 85%;
  }


/* Effects */

.highlight {
  color: red !important;
  position: relative;
}

#blurred-image {
    filter: blur(20px);
    top: 0;
    left: 0;
    object-fit: cover;
    display: block;
    height: 100vh;
}

.glow-image {
    display: block;
    width: auto; 
    height: auto;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 50%;      
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6); 
    animation: pulse 6s infinite;
  }

  @keyframes pulse {
    0%, 100% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    }
    50% {
      box-shadow: 0 0 40px rgb(255, 255, 255);
    }
  }

/* Image Fader */
.image-fade-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }
  
  .image-fade-wrapper img {
    position: absolute;
    width: 100%; 
  }
  
  .base-img {
    z-index: 0;
  }
  
  .overlay-img {
    z-index: 1;
    opacity: 0;
    animation: fadeInOut 4s ease-in-out infinite;
  }
  
  @keyframes fadeInOut {
    0%, 25%, 75%, 100% { opacity: 0; }
    50% { opacity: 0.5; }
  }
  

/* Teleprompter */

  .blink {
    display: none;
    width: 1.2vw;
    height: 1.2vw;
    margin-left: 10px;
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    animation-name: blink;
    animation: pulse 1.2s infinite;
  }

  .blink.show {
    display: inline-block;
  }
  
  @keyframes pulse {
    50% {opacity: 0;}
  }

  .revblink {
    display: none;
    width: 1.2vw;
    height: 1.2vw;
    margin-left: 10px;
    vertical-align: middle;
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
    animation-name: blink;
    animation: pulse 1.2s infinite;
  }

  .revblink.show {
    display: inline-block;
  }
  
  /* @keyframes pulse {
    50% {opacity: 0;}
  } */


/*Page Numbers*/

.page-number-left {
    position: fixed;
    display: none;
    left: 30px;
    bottom: 50%;
    font-size: 28px;
    font-family: 'DecimaMono';
    color: white;
    z-index: 998;
  }
  
  .page-number-right {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 50%;
    font-size: 28px;
    font-family: 'DecimaMono';
    z-index: 998;
  }  
  
  .show-page-numbers {
    display: block;
  }
  

/* this should be at the bottom (video)*/

div.herovideo {
  width:350px;
  position: fixed;
  bottom:20px;
  right: 20px;
  z-index: 1001;
}

div.herovideo.active {
  transition: all 0.7s ease;
  position: fixed;
  top: 80px;
  left: 0;
  width: 50%; 
  height: 45%;
  padding: 0 80px;
  box-sizing: border-box;
}


div.herovideo video {
    border-radius: 10px;
}

/* Splash screen */

.welcome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1002;
    cursor: pointer;
  }
  
  .welcome.visible {
    display: flex;
    flex-wrap: wrap;
  }


/* Scan Line */ 

    .scanline {
    position: fixed;
    top: 0;
    background: linear-gradient(90deg, transparent, red);
    left: -54px;
    width:54px;
    height: 100vh;
    pointer-events: none;
    z-index: 1000;
    transform: translateX(0);
    transition: transform 18s ease;
    overflow: hidden;
  }

