body{
    background-color: rgb(255, 255, 255);
}

/* Font Library */ 

@font-face {
    font-family: 'NouveauSans';
    src: url(fonts/NouveauSans.woff) format('woff2');
}

@font-face {
    font-family: 'BauReg';
    src: url(fonts/BauReg.woff) format('woff');
}

@font-face {
    font-family: 'SainteColombe';
    src: url(fonts/SainteColombeReg.woff2) format('woff2');
}

/* Swatches */ 

div.swatch {
    width: 48.75vw;
    height: 10vh;
}

div.bg-grey {
    background-color: #e3e4e5
}

div.bg-grey2 {
    background-color: #e3e4e5
}

div.bg-slate {
    background-color: #bfcad6
}


div.bg-blugray {
    background-color: #5c85a6;
}

div.bg-mint {
    background-color: #c2f9ca;
}

div.bg-lightblue {
    background-color: #b8fbff;
}

div.bg-purple {
    background-color: #ab8ef8;
}

div.bg-yellow {
    background-color: yellow;
}

/* Font Sizes */ 


div.h1 {
    font-size: 16.25rem;
    font-family: 'NouveauSans';
    color: black;
}

div.h2 {
    font-size: 8rem;
    font-family: 'NouveauSans';
    color: rgb(0, 0, 0);
}

div.h3 {
    font-size: 5rem;
    font-family: 'Baureg';
    color: rgb(0, 0, 0);
}

div.p {
    font-size: 4.5rem;
    line-height: 5.5rem;
    font-family: 'BauReg';
    margin-left: 16.741vw;
}

div.figcaption {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

div.imgcaption {
    display: flex;
    flex-direction: column;
    padding-top: 1.0vw;
    line-height: 1.1vw;
    font-size: 0.8vw;
    font-family: 'DiatypeLight'
}

div.body {
    font-family: BauReg;
    font-size: 28px;
    line-height: 32px;
    width: 1000px;
    margin-left: auto;
    margin-right: 50px;
}


div.headsmall {
    font-family: BauReg;
    font-size: 14px;
    margin-top: 17px;
    margin-bottom: 20px;
    line-height: 13px;
    margin-left: 90px;
}

div.headsmaz {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.40rem;
    line-height: 0.5em;
    padding-bottom: 0.631em;
}

div.bodysmall {
    font-family: BauReg;
    font-size: 0.31rem;
    line-height: 0.45rem;
}

.rotated-text {
    display: inline-block; 
    transform: rotate(-90deg);
}

.rotated-textsmall {
    display: flexbox; 
    transform: rotate(-90deg);
}

/* Margins */

div.ml {
    margin-left: 1.75vh;
}

div.mlsmall {
    margin-left: 3.5vh;
}

div.mlmed {
    margin-left: 7vh;
}

div.mr {
    margin-right: 1.75vh;
}

div.mlauto {
    margin-left: auto;
}

div.mrauto {
    margin-right: auto;
}

div.mt {
    margin-top: 1.75vh;
}

div.mtsmall {
    margin-top: 3.5vh;

}

div.mtmed {
    margin-top: 8vh;
}

div.mtmore {
    margin-top: 16vh;
}

div.mtl {
    margin-top: 30vh;
}

div.mbauto {
    margin-bottom: auto;
}

div.mb {
    margin-bottom: 1.75vh;
}

/* Paragraph Styles */

div.listnumber {
margin-right: 50px;
}

div.listlabel {
display: block;
}

div.listitem {
    display: flex;
    align-items: baseline;
  }

/* Style Guide Elements */ 

@font-face {
    font-family: 'DiatypeBold';
    src: url(fonts/DiatypeBold.woff) format('woff');
}

@font-face {
    font-family: 'DiatypeMed';
    src: url(fonts/DiatypeMed.woff) format('woff');
}

@font-face {
    font-family: 'DiatypeReg';
    src: url(fonts/DiatypeReg.woff) format('woff');
}

@font-face {
    font-family: 'DiatypeLight';
    src: url(fonts/DiatypeLight.woff) format('woff');
}

div.sgline {
    border-top: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

div.sgp {
    font-size: 4.5rem;
    line-height: 5.5rem;
    font-family: 'BauReg';
}

div.sgh1 {
    font-family: 'DiatypeBold';
    font-size: 4.875rem;
    line-height: 1.1em;
    display: inline-block;
    position: relative;
}

div.sgh2 {
    color: black;
    font-family: 'DiatypeMed';
    font-size: 1.75rem;
    word-spacing: 1.75rem;
    margin-top: 1.75vh;
    margin-bottom: 5.25vh;
}

div.sgh3 {
    color: black;
    font-family: 'DiatypeBold';
    font-size: 2rem;
    padding-left: 5.25vh;
}

div.sgh4 {
    color: black;
    font-family: 'DiatypeReg';
    font-size: 1.75rem;
    line-height: 2rem;
    margin-top: 1.75vh;
    padding-left: 5.25vh;
}

div.sgh5 {
    color: black;
    font-family: 'DiatypeMed';
    font-size: 3.0rem;
}

.dot {
    height: 2.5vh;
    width: 2.5vh;
    background-color: black;
    border-radius: 50%;
}

div.dotline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    margin-top: 10vh;
}

div.sgcontainercover {
    height: 100vh;
    padding-left: 1.75vw;
    padding-right: 1.75vw;
    padding-top: 1.75vw;
    display: flex;
}


/* Text Alignment */

div.textcenter {
    text-align: center;
}
    
div.textright {
    text-align: right;
}

div.textleft {
    text-align: left;
}

div.textindent {
    text-indent: 20px;
    display: block;
}

.text-row {
    display: flex;
    justify-content: space-between; 
    gap: 5vw; 
}

div.pad30 {
    padding-top: 1.2rem;
}

div.padrightsmall {
    padding-right: 1.5vw;
}

div.padbottom {
    padding-bottom: 1.75vh;
}

div.padtop {
    padding-top: 5.5vh;
}

div.padaround {
    box-sizing: border-box;
    padding-left: 0.75vw;
    padding-top: 0.75vh;
}

div.box {
    font-size: 4.375rem;
    width: 600px;
    border-top: 1px solid black;
    padding-top: 30px;
}

.imgcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  
  .imgcontainer img {
    height: auto;
    object-fit: contain;
    display: block;
    max-width: 45vh;
}
  
div.center {

    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    
}

div.container25 {
    width: 25vw;
}

div.container75 {
    width: 75vw;
}

div.containerflex {
    display: flex;
}

div.containerswatch {
    display: flex;
    flex-direction: column;
}


div.vinylcontainer {
    display: flex;
    column-gap: 9.524vw;
    justify-content: center;
    /* align-items: center; */
}

div.siblingbox1 {
    box-sizing: border-box;
    padding-left: 2.5rem;
    width: 50%;
    /* border: 1px solid red; */
}

div.siblingbox2 {
    width: 50%;
    /* border: 1px solid rgb(98, 255, 0); */
}

div.boxe1 {
    box-sizing: border-box;
    padding-top: 2.5rem;
    height: 37vw;
    width: 37vw;
    background-color: rgb(242, 242, 242);
    display: flex;
    /* column-gap: 20px; */
}

div.boxe2 {
    height: 37vw;
    width: 37vw;
    background-color: rgb(145, 228, 201);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


.img-truesize {
    max-width: none;
    width: auto;
    height: auto;
}

.img-100 {
    width: 100%;  
    height: auto; 
}

.img-80 {
    width: 80%;  
    height: auto; 
}

.img-75 {
    width: 75%;  
    height: auto; 
}

.img-60 {
    width: 75%;  
    height: auto; 
}

.img-50 {
    width: 50%;  
    height: auto; 
}

.img-40 {
    width: 40%;  
    height: auto; 
}

.img-30 {
    width: 30%;  
    height: auto; 
}
  
.img-25 {
    width: 25%;  
    height: auto; 
}
  
.img-20 {
    width: 20%;  
    height: auto; 
}

.img-15 {
    width: 15%;  
    height: auto; 
}

.img-10 {
    width: 10%;  
    height: auto; 
}

.bordercheck {
    border: 1px solid black;
}


div.multiplyyellow {
    mix-blend-mode: multiply;
    background-color: rgb(229, 255, 0);
    width: 5vw;
    height: 20vw;
    margin:0 auto;
    display: block;

    position: sticky;
    top: 0;   
    left: 0;  
    z-index: 10;
    
}

div.multiplyiceblue {
    font-family: 'BauReg';
    mix-blend-mode: multiply;
    background-color: rgb(15, 251, 220);
    width: 1.75vw;
    margin-left: 1vw;
    height: 20vw;
    display: block;

    position: sticky;
    top: 0;   
    left: 0;  
    z-index: 10;
}


/* Blur Blink Effect */

.space{
    display: inline-block;
    width: 20px;
  }
  .powdercontainer{
    border-radius: 30px 30px;
    width: 100%;
    text-align: left;
}
  
  
.powdertitle{
    display: inline;
    font-size: 4.5rem;

    font-family: 'BauReg';
    color:rgb(0, 0, 0);
    animation: blur-anime 4s ease-in-out infinite;
  }

  :root {
    --d: 0.1s;
  }
  .delay1{animation-delay: 0.2s;}
  .delay2{animation-delay: 0.4s;}
  .delay3{animation-delay: 0.6s;}
  .delay4{animation-delay: 0.8s;}
  .delay5{animation-delay: 1.0s;}
  .delay6{animation-delay: 1.2s;}
  .delay7{animation-delay: 1.4s;}
  .delay8{animation-delay: 1.6s;}
  .delay9{animation-delay: 1.8s;}
  .delay0{animation-delay: 0.0s;}
  
  
  
  @keyframes blur-anime {
    0%  {filter: blur(0px);color:rgb(0, 0, 0);}
    30%  {filter: blur(15px);color:#ab8ef8;}
    45%  {filter: blur(15px);color:#c2f9ca;}
    90%  {filter: blur(0px);color:rgb(0, 0, 0);}
    100%  {filter: blur(0px);color:rgb(0, 0, 0);}
  }
  